/**
style.css

Eine externe und zentrale CSS Datei,
hierüber kann das Design aller Seiten angepasst werden.

**/


body {
    background-color: lightgrey;
}

hr{
	height: 5px;
	background-color: black;
}

/*Youtube-Videos*/
iframe{
	margin: 0 auto;	
	display: block; /*Sonst lässt sich die position nicht setzen*/
	width: 600px;
	height: 338px;
	
}

#divHead {
	width: 960px;
	margin: 0 auto;	
}

#divButtom {
	width: 960px;
	margin: 0 auto;	
}

#divContent {
	padding: 15px;
	width: 930px;
	margin: 0 auto;	
	background-color: white;
}

#divBottomMenu{
	width: 200px;
	heught: 30px;
	margin: 0 auto;	
}


/*Festlegung Schriftarten für die Schriftgrößen*/

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}

h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color:#333;
	margin: 0 auto;	
}

#ASB {
	margin: 0 auto;
}