/**
style.css

Eine externe und zentrale CSS Datei,
hierüber kann das Design aller Seiten angepasst werden.

**/


body {
	background-color: lightgrey;
	/*background-image: url("pics/background.jpg");*/
}

hr{
	height: 5px;
	background-color: black;
}

/*Youtube-Videos*/
iframe{
	margin: 0 auto;	
	display: block; /*Sonst lässt sich die position nicht setzen*/
	width: 600px;
	height: 338px;
	
}

#map {
    height: 600px;
    width: 100%;
}



#divHead {
	width: 1242px;
	margin: 0 auto;	
}

#divButtom {
	width: 1242px;
	margin: 0 auto;	
}

#divContent {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 1042px; /*1242 - 2*padding*/
	margin: 0 auto;	
	background-color: white;
}

#divBottomMenu{
	width: 60px;
	height: 30px;
	margin: 0 auto;	
}

#div768{
	margin: 0 auto;	
	width: 768px;
}

#div350{
	margin: 0 auto;	
	width: 350px;
	
}

#div200{
	margin: 0 auto;	
	width: 200px;	
}


/*Festlegung Schriftarten für die Schriftgrößen*/

h1 {
	font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	border-top: 50px solid white;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color:#333;
	margin: 0 auto;	
}

#ASB {
	margin: 0 auto;
	border:solid;
	border-width:medium;
	border-radius: 1em;
	border-color:#FC0;
}

#impressum {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#Samariter {
   float:left;
   margin-left: 50px;
   
}
#upperPart {
	height: 150;

}

#lowerPart {
	margin-left:50px;
	margin-right:50px;
}

#lowerPart p {
	font-family: Calibri;
}

#upperPart p {
	font-family: Calibri;
	margin-left:350px;
}

#AWO {
    margin-top:25px;
	border:solid;
	border-width:medium;
	border-radius: 1em;
	border-color:#F00;
}

#mySWOOOP {
	margin-top:25px;
	border:solid;
	border-width:medium;
	border-radius: 1em;
    border-color:#939;
}

#IM {
	margin-top:25px;
	border:solid;
	border-width:medium;
	border-radius: 1em;
	border-color:#06F;
}

#DRK {
	margin-top:25px;
	border:solid;
	border-width:medium;
	border-radius: 1em;
	border-color:#F00;
}

#Suppenengel {
	margin-top:25px;
	border:solid;
	border-width:medium;
	border-radius: 1em;
	border-color:#666;
}