/**
style.css

Eine externe und zentrale CSS Datei,
hierüber kann das Design aller Seiten angepasst werden.

**/


body {
    background-color: lightgrey;
}

hr{
	height: 5px;
	background-color: black;
}

#divHead {
	width: 960px;
	margin: 0 auto;	
}

#divButtom {
	width: 960px;
	margin: 0 auto;	
}

#divContent {
	width: 960px;
	margin: 0 auto;	
	background-color: white;
}